.sideBarLogo {
    margin: "auto";
    width: "50px"
}

.sideBox{
    font-family: “Circular Std”, sans-serif; 
    font-weight:600;
}

.hoverText p, .hoverText img, .hoverText svg{
    color: white;
    opacity: .7;
    cursor: pointer;
}


.hoverText:hover p{
    opacity: 1;
}
.hoverText:hover svg{
    opacity: 1;
}

.hoverText:hover img{
    opacity: 1;
}
